
/******************************************


        CSS para la navbar




**************************************/
html{
    min-width: 615px;
}



#wrapper{
    display: flex;
    flex-grow: 1;
    height: 94vh;
}

/*para hacer que los elementos del navbar tengan separacion */
.m-top-nav{
    margin-top: 5px;
    margin-left:5px;
}
.tarea-span{
   
  visibility: hidden;
  opacity:0;
     transition: visibility 0.4s, opacity 0.4s linear;
}
.tarea-li:hover > div >span{
    visibility: visible;
    opacity: 1;
}
.tarea-span{
    transition-timing-function: ease;
}
.tarea-li{
     display: flex;
     flex-direction:column;   
    cursor: pointer;
    transition: visibility 0.8s ease-out;

}
/*.tarea-li > div{
    display: flex;
  
}*/
.bborrar {

  border-radius: 60px;
  font-family: Arial;
  color: #c43d4f;
  font-size: 15px;
  background: #ffffff;
 border: 1px solid transparent;
  text-decoration: none;
}

.bborrar:hover {
  background: #c43d4f;
  color: #ffffff;
  text-decoration: none;
}




.form-editar-tarea{
    display: flex;
    flex-direction: column;
  animation: animationFrames linear 4s;
  animation-iteration-count: 1;
  transform-origin: 50% 0%;
}

@keyframes animationFrames{
  0% {
    transform:  scaleY(0.11) ;
  }
  17% {
    transform:  scaleY(1) ;
  }
  100% {
    transform:  scaleY(1) ;
  }
}

#chat-wrap{
    display: flex;
    align-content: stretch;
    justify-content: center;
    
}
#chat-wrap > div{
/*    border:solid;*/
    flex-grow: 1;
    max-height: 70vh;
}
#chat-wrap > div:nth-of-type(1){
   
   
    overflow-y: scroll;
    

}
#chat-wrap > div:nth-of-type(2){
   
    flex-grow: 3;
}
.conver:hover{
    background-color: #9e9e9e;
    list-style: none;
}
#wrap-conversacion{
    display: flex;
    flex-direction: column;
}
.msj{
    border: solid 1px white;
    border-radius: 3px;
   padding: 0.5em;
    align-self: flex-start ;
}
.self-msj{
    align-self: flex-end !important;
    background-color: #aade86;
    display: flex;
    justify-content: flex-end;
}
#form-chat{
    align-self: stretch;
}
.msj > i {
    font-size: 20px !important;
}
/*****************************************


    CSS index



********************************************/
/*#wrapper{
     display: flex;
     flex-direction: column;
align-items: stretch;
}*/

.a-proyecto:hover{
    text-decoration: none;
    
}
.a-proyecto{
    color: inherit;
}
#wrap{
    display: flex;
align-items: stretch;

flex-grow: 1;
    
}
.aside-index{
   display: flex;
    flex-direction: column;
    flex-grow: 3;
/*    background-color: red;*/
      transition: width 0.4s linear;
      max-width: 400px;
      min-width: 400px;

align-items: center;
}

.fd-c{
   
    flex-direction: column;
    ;    
    /*align-items:  stretch;*/
  
/*    background-color: blue;*/
   
}
.proyectos-index-r{
    display: flex;
    flex-wrap: wrap;
  justify-content: space-around;   
/*    flex-grow: 7;*/
  
   
}
.div-proyecto{

    display: flex;
    margin: 0.5em;
/*    background-color: #83b339;*/
    flex-grow: 1;
}
.div-proyecto:hover{

        background-color: #94bad4;
    box-shadow: 5px 5px 20px black;
}
.section-index{
    display: flex;
    flex-direction: column;
    flex-grow: 7;
}
@media screen and (max-width: 991px){
    .aside-index{
        display: none;
    }
}

/*****************************************


    CSS proyecto



********************************************/

#wrapper-proyecto{
    flex-grow: 1;
}/*
#wrapper-proyecto  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
   width: 800px;
   background-color: red;
    }*/
    #mychart{
        max-width: 500px;
    }
    .comentario{
        
    }
    .misc{
        display: flex;
        flex-direction: column;
    }
    .tarea-realizada{
        text-decoration: line-through;
    }
    fieldset{
        border: solid 1px silver;
        padding: 1.5em;
       
    }
    
    
    [for*="rb"]:nth-of-type(1){
color: #73ab58;        
    }
    [for*="rb"]:nth-of-type(2){
color: darkgoldenrod;       
    }
    [for*="rb"]:nth-of-type(3){
color: crimson;        
    }
    #vertical{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .chart-container{
        position: relative; 
        height:300px; 
        width:600px
    }   
.ui-tabs .ui-tabs-nav {
    display: flex;
}

.ui-tabs .ui-tabs-nav li {
    flex: 1;
    display: flex;
    /* If placed in a small width sidebar or something like that disabling nowrap will fix the overflow issue */
    white-space: normal;
}

.ui-tabs .ui-tabs-nav li a {
    flex: 1;
    /* If you want to align tab titles center */
    text-align: center;
}
#bfinalizar{
    float: right;
}

    
#stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media screen and (max-width:1239px){
    #stats{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-self: center; */
    /* align-content: center; */
    align-items: center;
    }
}



.ui-widget.ui-widget-content{
    border: 1px transparent !important;
}

.comentario{
    margin: 1.5em;
    border-radius: 5px;
    padding: 0.5em;
    border: solid 2px #a9a8ad;
        box-shadow: 3px 3px 17px 0px black;
}

.comentario:hover{
    background-color: activecaption;
}
.comentario > span:nth-child(1){
margin: 0.5em;
font-weight:normal;color:#000000;
letter-spacing:0pt;
word-spacing:0pt;
font-size:22px;
text-align:left;
font-family:comic sans, comic sans ms, cursive, verdana, arial, sans-serif;
line-height:1;


}
.comentario > span:nth-child(2),.comentario > span:nth-child(3){
    align-self:  flex-end;
    font-size: 13px;
        color: #848484;
}

#upload{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   min-height: 20vh;
   border-radius: 15px;
   background-color: #a7a2e3;
    border: dashed 4px #7d79b3;
}
#upload > div{
    background-color: antiquewhite;
    margin: 1.5em;
    border-radius: 5px;
    align-self: flex-start;
}