{% extends "index.html" %}

{% block content %}
        <div id="wrap">
            <aside class="aside-index">
                <div class="text-center">
                    <img src="" class="img-circle" alt="...">
                </div>
                <hr>
                <div> 
                    <ul class="tareas-wrap"></ul>
                </div>
            </aside>
            
            <section class="section-index-c">

                <div class="div-proyecto card">
                    <h3>Proyecto Ruedas</h3>
                    <p>Proyecto creado para hacer ruedas</p>
                </div>

                <div class="div-proyecto card">
                    <h3>Proyecto Ruedas</h3>
                    <p>Proyecto creado para hacer ruedas</p>
                </div> 
                <div class="div-proyecto card">
                    <h3>Proyecto Ruedas</h3>
                    <p>Proyecto creado para hacer ruedas</p>
                </div> 
                <div class="div-proyecto card">
                    <h3>Proyecto Ruedas</h3>
                    <p>Proyecto creado para hacer ruedas</p>
                </div> 
                <div class="div-proyecto card">
                    <h3>Proyecto Ruedas</h3>
                    <p>Proyecto creado para hacer ruedas</p>
                </div>

            </section>
        </div>
{% endblock %}