<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <style>
            footer{
                display:flex;
                margin-top: auto;
                background-color: #ffecb6;
            }
            
        </style>
    </head>
    <body>
        <div id="container">
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            
            <a class="navbar-brand" href="#"><img src="../img/logo2.png" class="img-responsive" height="40"></a>

            <div class="navbar-collapse collapse show " id="navbarColor01" aria-expanded="true" style="">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Tus proyectos </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="material-icons">face</i><span class="badge badge-danger">2</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="material-icons">email</i><span class="badge badge-danger">2</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="btn btn-success d-flex align-items-center m-top-nav" href="#"><i class="material-icons">add_box</i>Nuevo Proyecto</a>
                    </li>
                </ul>
                <div class="navbar-nav ">
                    <a class="btn btn-warning d-flex align-items-center m-top-nav" href="#"><i class="material-icons">assignment</i>Mis tareas</a>
                        <a class="nav-link nav-item  d-flex align-items-center" href="#"><i class="material-icons">account_circle</i>Bienvenido{{nombre}}</a>
                </div>
                
               
            </div>
        </nav>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</p>
<p>Ad dolore dignissimos asperiores dicta facere optio quod commodi nam tempore recusandae. Rerum sed nulla eum vero expedita ex delectus voluptates rem at neque quos facere sequi unde optio aliquam!</p>
<p>Tenetur quod quidem in voluptatem corporis dolorum dicta sit pariatur porro quaerat autem ipsam odit quam beatae tempora quibusdam illum! Modi velit odio nam nulla unde amet odit pariatur at!</p>
<p>Consequatur rerum amet fuga expedita sunt et tempora saepe? Iusto nihil explicabo perferendis quos provident delectus ducimus necessitatibus reiciendis optio tempora unde earum doloremque commodi laudantium ad nulla vel odio?</p>
        <footer>
            asdasdsa
        </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" ></script>
    </body>

</html>
