{% extends "index.html" %}

{% block content %}
<div id="wrapper-proyecto">
    <div id="tabs">
        
  
        <ul>
            <li><a href="#fragment-1"> Proyecto</a></li>
            <li><a href="#fragment-2">Muro</a></li>
            
           {% if datos.participo==1%}
            <li><a href="#fragment-3">Tareas</a></li>
            <li><a href="#fragment-4">Archivos</a></li>
            {%endif%}
             {%if datos.proyecto.creador==datos.yo%}
                {%if datos.proyecto.tipo==0%}
                    {%if datos.solicitudes|length >0%}
             <li>
                 <a href="#fragment-5">Solicitudes
                     <span class="badge-danger badge">
                         {{datos.solicitudes|length}}
                     </span>
                 </a>
             </li>
             
                    {%endif%}
                {%endif%}
            {%endif%}
        </ul>
        <div id="fragment-1">
            <div id="proy-div">
                <h1>{{datos.proyecto.nombre}}</h1>
                
                {%if datos.proyecto.creador==datos.yo%}
                    <b class="d-flex align-items-center"> <i class="material-icons">supervisor_account</i>Eres el administrador de este proyecto</b>
                {%if datos.proyecto.tipo==0%}
                    <b class="d-flex align-items-center"> <i class="material-icons">public</i>este proyecto es publico</b>
                {%endif%}
                <hr>
                <div class="d-flex justify-content-around" id="botones-admin">
                    <a href="index.php?controller=proyecto&action=d&idproyecto={{datos.proyecto.id}}" class="a-proyecto">
                        <button class="btn btn-danger d-flex align-items-center">
                            <i class="material-icons">delete_forever</i>
                            Borrar Proyecto
                        </button>
                    </a>
                    <button class="btn-warning btn d-flex align-items-center " id="adm-participantes">
                        <i class="material-icons">group_add </i>
                        Administrar Participantes
                    </button>
                </div>
                {%endif%}
                <hr>
                <p>{{datos.proyecto.descripcion}}</p>
                <div> {% if datos.tareas%}
                    <div id="stats">
                        <div class="chart-container" >
                            <canvas id="myChart"></canvas>
                        </div>
                        <div class="chart-container" >
                            <canvas id="myChart2"></canvas>

                        </div>
                    </div>
                    {%else%}
                   <div class="alert alert-warning" role="alert">
                        No hay estadísticas disponibles aún añade tareas y recarga la página para comenzar a usar esta funcionalidad.
                    </div>
                    <!--<canvas id="myChart" width="400" height="400"></canvas>-->
                    {%endif%}
                </div>
                <br>
                <div class="card " >
                    <div class="card-body alert-info">
                        <h2>
                            Partipantes
                        </h2>
                        <ul id="participantes">
                            {%for persona in datos.participantes%}
                            {%if persona.id==datos.proyecto.creador%}
                            <li class="d-flex align-items-center">
                                <i class="material-icons">supervisor_account</i>{{persona.username}}
                            </li>
                            {%else%}
                            <li class="d-flex align-items-center "> <i class="material-icons">perm_identity</i>{{persona.username}}
                                {%if datos.proyecto.creador==datos.yo%}
                                <button class=" bborrar" idpart="{{persona.participacion}}">X</button>
                                {%endif%}
                            </li>
                            {%endif%}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>   
        </div>
        <div id="fragment-2">
            <form id="form-muro" action="index.php?controller=muro&action=cm" method="POST">
                <input class='form-control' type="text" name="mensaje" >
                <input type="hidden" name="proyecto" value="{{datos.proyecto.id}}">
                <input type="submit" class="btn btn-success m-top-nav" value="Publicar">
            </form>
            <div>
                {%for comentario in datos.muro%}
                <div class="card comentario">
                    <span>{{comentario.mensaje}}</span>
                    <span> {{comentario.fullname}}</span>
                    <span> {{comentario.hora}}</span></div>
                {% endfor %}

            </div>
        </div>
        {% if datos.participo==1%}
        <div id="fragment-3">
                <div>
                    <button id="abrir" class="btn-primary btn d-flex align-items-center"><i class="material-icons" >add</i>Nueva Tarea</button>


                    <fieldset>
                        <form id="formNuevaTarea">
                            <h3>Nueva Tarea</h3>
                            <label for="titulo">Titulo: </label><input class='form-control' type="text" name="titulo" id="titulo" data-validetta="required">
                            <label for="descripcion">Descripción: </label><input class='form-control' type="text" name="descripcion" id="descripcion" data-validetta="required">
                            <label for="plazo">Plazo: </label><input class='form-control' type="date" name="plazo" id="plazo" data-validetta="required">
                            <input  type="radio" name="dificultad" value="1" id="rbf" data-validetta="required">
                            <label for="rbf">Facil </label>
                            <input  type="radio" name="dificultad" value="2" id="rbm" data-validetta="required">
                            <label for="rbm">Medio </label>
                            <input  type="radio" name="dificultad" value="3" id="rbd" data-validetta="required">
                            <label for="rbd">Dificil </label>
                            <input type="hidden" name="proyecto" value="{{datos.proyecto.id}}">
                        <button class="btn btn-primary  d-flex align-items-center" id="banadirTarea">
                            <i class="material-icons">add</i>Añadir Tarea
                        </button>
                        </form>

                    </fieldset>
                    <br>
                    <div class="opcionesTareas">
                        <div class="card estiloTarjeta" id="pendiente">
                            <h5 class="card-header">Pendiente</h5>
                            <div class="card-body column" id="pendiente-append">
                                {%if tarea is empty%}
                                {%for tarea in datos.tareas%}
                                {% if tarea.estado==0%}
                                <div class="portlet" id="{{tarea.id}}">
                                    <div class="portlet-header">{{tarea.titulo}}</div>
                                    <div class="portlet-content">{{tarea.descripcion}}</div>
                                </div>
                                {%endif%}
                                {% endfor %}
                                {%else%}
                                <p>No hay tareas pendientes.</p>
                                {%endif%}
                            </div>
                        </div>
                        <div class="card estiloTarjeta" id="terminado">
                            <h5 class="card-header">Completado</h5>
                            <div class="card-body column">
                                {%if tarea is empty%}
                                {%for tarea in datos.tareas%}
                                {% if tarea.estado==1%}
                                <div class="portlet" id="{{tarea.id}}">
                                    <div class="portlet-header">{{tarea.titulo}}</div>
                                    <div class="portlet-content">{{tarea.descripcion}}</div>
                                </div>
                                {%endif%}
                                {% endfor %}
                                {%else%}
                                <p>No hay tareas pendientes.</p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <!--<ul id="tareas-proyecto">
                       {%for tarea in datos.tareas%}
                      <li {% if tarea.estado==1%} class="tarea-realizada" {%endif%}>{{tarea.titulo}}</li>
                       {% endfor %}
                   </ul>-->
                </div>
        </div>
    
    
    
        <div id="fragment-4">
            <div>
                <h1>Archivos</h1>
                <div id="upload">

                </div>
                <hr>
                <div class="d-flex flex-wrap " id="archivos">
                    {% for archivo in datos.archivos%}                        
                        <a href="{{archivo.ruta}}" download="{{archivo.nombre}}" >
                            <img src="img/file.png" class="file" alt="archivo"/>
                            {{archivo.nombre}}
                        </a>
                    {% endfor %}                          
                </div>           
            </div>                   
        </div>
       
        {%if datos.solicitudes|length >0%}
            <div id="fragment-5">
                <div class="d-flex justify-content-center fd-c">
                    {%for solicitud in datos.solicitudes%}
                    <div style=" border: solid 1px #848484 " class="d-flex justify-content-between">
                        <div class="d-flex fd-c">
                            <span class="d-flex align-items-center"><i class="material-icons">face</i>{{solicitud.fullname}}</span>
                            <span class="d-flex align-items-center"><i class="material-icons">account_circle</i>{{solicitud.username}}</span>
                            <span class="d-flex align-items-center"><i class="material-icons">mail</i>{{solicitud.correo}}</span></div>
                            <div class="d-flex">
                            <form class="aceptar-solicitud d-flex">
                                <input type="hidden" name="id" value="{{solicitud.id}}">
                                <input type="hidden" name="proyecto" value="{{datos.proyecto.id}}">
                                <input type="hidden" name="usuario" value="{{solicitud.idusuario}}">
                                <button  class="btn btn-primary f-grow-1"> 
                                    <i class="material-icons">check</i>
                                </button>
                            </form>
                            <form class="rechazar-solicitud d-flex">
                                <input type="hidden" name="id" value="{{solicitud.id}}">                                
                                <button  class="btn btn-danger f-grow-1"> 
                                    <i class="material-icons">close</i>
                                </button>
                            </form>
                            </div>
                              
                            
                        </div>
                    {%endfor%}
                </div>    
            </div>
        {%endif%}
        {%endif%}
        </div>   
     </div>


    <div class="modal fade" id="adm-participantes-modal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Añadir participantes</h5>

                </div>
                <div class="modal-body">
                    <div>
                        <ul class="participantes" style="list-style: none">

                            {%for persona in datos.participantes%}
                            {%if persona.id == datos.yo%}
                            <li  class='alert-warning d-flex align-items-center'>
                                <i class="material-icons">supervisor_account</i>{{persona.fullname}}
                            </li>
                            {%else%}
                            <li  class=' d-flex justify-content-between'>
                                <div class="d-flex">
                                    <i class="material-icons">perm_identity</i>{{persona.fullname}}
                                </div>
                                <button class='bborrar' idpart='{{persona.participacion}}'>X</button>
                            </li>
                            {%endif%}
                            {% endfor %}
                        </ul>
                        <form class='formuser'><div class="input-group ">
                                <div class="input-group-addon"><button class="btn btn-success d-flex align-items-center" id="subm-part"><i class="material-icons">person_add</i></button></div>
                                <input type="text" class="form-control" name="username" id="inlineFormInputGroup" placeholder="Username"></div>
                                <input type="hidden" name="idproyecto" value="{{datos.proyecto.id}}">
                        </form>
                        <br>
                        <button id="bfinalizar" class="btn btn-primary" >finalizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="asignaciones-modal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formAsign" >
                        <input type="hidden" name="idtarea">
                        {%for persona in datos.participantes%}
                        <input type="checkbox" value="{{persona.id}}" name="participantes[]" data-validetta="minChecked[1]">{{persona.fullname}}<br>

                        {% endfor %}
                        <input type="submit">
                    </form>

                </div>
            </div>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="js/validetta.min.js" type="text/javascript"></script>
<script src="js/angular.js"></script>

{% if datos.tareas%}
<script type="text/javascript">

var ctx = document.getElementById("myChart").getContext("2d");
//ctx.canvas.width = 300;
//ctx.canvas.height = 300;

data = {
datasets: [{
data: [{{datos.progreso}}, {{datos.totales}}],
        backgroundColor: ['#003fed'],
        responsive: true,
        // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container

        maintainAspectRatio: false

}],
        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
                '%completed',
                '%missing'
        ]
};
//var myDoughnut = new Chart(ctx).Doughnut(data);

var myChart = new Chart(ctx, {

type: 'doughnut',
        data: data

});
var ctx2 = document.getElementById("myChart2").getContext("2d");
var myBarChart = new Chart(ctx2, {
type: 'horizontalBar',
        data: {
        datasets: [{




        data: [0{%for stat in datos.stats%}
        , {{stat.stat}}
        {%endfor%}
        ],
                backgroundColor: ['#003fed'{%for stat in datos.stats%}
                , '#003fed'
                {% endfor %}],
                // responsive: true,
                // maintainAspectRatio: false
        }],
                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: ['tareas recibidas'{%for stat in datos.stats%}
                , '{{stat.username}}'
                {% endfor %}],
                options : {
                scales: {
                xAxes: [{
                gridLines: {
                offsetGridLines: true
                }
                }]
                }
                }
        },
});

</script>
{%endif%}

{%endblock%}

            



