{% extends "index.html" %}

{% block content %}
<div id="wrapper-proyecto">
    <section>
        
            <div id="proy-div">
                <h1>{{datos.proyecto.nombre}}</h1>
                <hr>
                <p>{{datos.proyecto.descripcion}}</p>
                <div >
                     <canvas id="myChart" width="400" height="400"></canvas>
                </div>

            </div>

          <div>
            <div class="card comentario">ç
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            <div class="card comentario"
                 >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        <div class="card comentario">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </section>

    <aside>
        <div>
            <select>
                {%for persona in datos.participantes%}
                <option>{{persona.fullname}}</option>
                {% endfor %}
            </select>
            <ul>
                {%for persona in datos.participantes%}
                <li>{{persona.username}}</li>
                {% endfor %}

            </ul>
        </div>
    </aside>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script type="text/javascript">
var ctx = document.getElementById("myChart");

data = {
    datasets: [{
            data: [30, 70],
            backgroundColor: ['#003fed'],
            responsive: true,

// Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container

            maintainAspectRatio: false,

        }],
// These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        '%completed',
        '%missing'
    ]
};
var myChart = new Chart(ctx, {

    type: 'doughnut',
    data: data,

});

</script>

{%endblock%}